<h3 class="text-center my-5">Local Schools</h3>
<div class="md:flex md:flex-row ">
  <span>
    <p class="mx-10 md:mx-5 text-center md:text-left md:text-xl lg:my-3">Lumsden Playschool offers programs for 3 and 4
      year
      olds. Lumsden
      Elementary
      School
      offers
      programming
      for students
      ranging from pre-kindergarten to grade 8 with a wide range of co-curricular and extra-curricular activities to
      enhance
      student’s educational experiences. Lumsden High School offers programming for students ranging from grades 9
      through
      12. They offer a full academic program including band, industrial arts, home economics, computer literacy and fine
      arts and a wide variety of arts and athletic clubs and activities.
    </p>
    <br>
    <p class="mx-10 md:mx-5 text-center my-2.5 md:text-left md:text-xl">
      Transportation to and from school is arranged by the Prairie Valley School Division.</p>
  </span>
  <img src="./../../../../assets/local-schools.png" class="object-scale-down mx-auto h-56 md:h-64 lg:h-72 my-5 lg:my-0"
    alt="A group of children gathered in front of an adult in a classroom.">
</div>
