<br class="my-2">
<h2 id="about" class="text-2xl xl:text-4xl text-salad-500 text-center my-2">About</h2>
<div class="md:flex md:flex-row">
  <img src="./../../../assets/About Image 1.png" alt="About image 1" class="md:h-64 xl:h-full">
  <br>
  <div class="xl:my-auto xl:mx-20">
    <p class="mx-3 italic text-center md:text-lg xl:text-3xl">Valley View Estates is southern Saskatchewan's newest
      acreage size
      sub-division
      located in
      the beautiful
      Qu'Appelle
      Valley.</p>
    <br>
    <p class="mx-3 italic text-center md:text-lg xl:text-3xl">Only 22 miles from Regina, 2 miles west of craven on paved
      highway. 1
      mile from
      Last
      Mountain Lare.</p>
    <br>
    <a href="./../../../assets/info.pdf" class="download-link">
      <span>
        Download Information Package
      </span>
      <img src="./../../../assets/PDF Image.png" alt="Icon of PDF" class="h-6 mx-auto md:mx-2">
    </a>
  </div>
</div>
<br>
<img src="./../../../assets/flowers.png" alt="beautiful flowers" class="image-1">
<img src="./../../../assets/horse.png" alt="beautiful horse" class="image-2">
<ol class="list-disc text-center italic md:text-xl">
  <li> Lot sizes from 2 - 19 acres (horses allowed)</li>
  <li> Peaceful and tranquil living</li>
  <li> Safe environment where children and grandchildren can run and play</li>
  <li> Enjoy nature at it's best, abundance of wild life</li>
  <li> Beautiful views of valley</li>
  <li> Groomed walking/hiking trail through scenic 1/2 mile ravine</li>
  <li> 2 mile horse riding trail around subdivision</li>
  <li>Planned 4.5 acre playground and park</li>
</ol>
