<h3 class="text-center my-5">Recreational Information</h3>
<p class="mx-5 text-center md:text-left lg:text-xl">
  There are many fitness and recreational groups and classes available in Lumsden including:
</p>
<div class="md:flex md:flex-row lg:text-xl">

  <ul class="m-5 text-center md:text-left">
    <li>Yoga</li>
    <li>Martial Arts (Kempo & Karate)</li>
    <li>Fitness Clubs</li>
    <li>Dance (Preschool, Tap, Jazz, Acrobatics, Ballet)</li>
    <li>Community Adult Band</li>
    <li>Swim Programs</li>
    <li>Hockey</li>
    <li>Figure Skating</li>
    <li>Groomed Snowmobiling Trails</li>
    <li>Curling</li>
    <li>Local library that offers programs for all ages</li>
  </ul>
  <img src="./../../../../assets/yoga.png"
    class="h-36 lg:h-64 xl:h-full rounded-md mx-auto  -translate-x-12 translate-y-7 md:translate-x-44 lg:translate-y-14 xl:translate-y-5 xl:translate-x-72"
    alt="a group of people in the middle of a yoga pose">
  <img src="./../../../../assets/skating.png"
    class="h-36 lg:h-64 xl:h-full rounded-md mx-auto translate-x-12 -translate-y-7 md:-translate-x-32 md:translate-y-32 lg:-translate-y-7 lg:-translate-x-1 xl:-translate-x-12"
    alt="two children and an adult on a skating rink">
</div>
<p class="m-5 text-center md:text-left lg:text-xl">There are various attractions nearby including; Numerous beaches on
  Last
  Mountain Lake,
  Dallas Valley Ranch Camp, St.
  Michaels Retreat House, Deer Valley Golf Course, Lumsden Beach Camp, Last Mountain House, Trans Canada Trail as well
  as local artists and craftspeople.
</p>
<p class="mx-5 text-center md:text-left lg:text-xl">
  Last Mountain Lake is home to Last Mountain Lake National Wildlife Area and the Bird Sanctuary and Observatory which
  is Saskatchewan’s only bird banding centre.
</p>
