<h3 class="text-center">Summary</h3>
<div class="lg:flex lg:flex-row xl:justify-between">
  <img src="./../../../assets/flowers.png" alt="beautiful flowers" class="image-1">
  <ol class="list-disc md:list-none text-center italic md:text-xl mx-16 lg:mt-10">
    <li> Lot sizes from 2 - 19 acres (horses allowed)</li>
    <li> Peaceful and tranquil living</li>
    <li> Safe environment where children and grandchildren can run and play</li>
    <li> Enjoy nature at it's best, abundance of wild life</li>
    <li> Beautiful views of valley</li>
    <li> Groomed walking/hiking trail through scenic 1/2 mile ravine</li>
    <li> 2 mile horse riding trail around subdivision</li>
    <li>Planned 4.5 acre playground and park</li>
  </ol>
</div>

<div class="lg:flex lg:flex-row-reverse xl:justify-between">
  <img src="./../../../assets/horse.png" alt="beautiful horse" class="image-2">
  <ol class="list-disc md:list-none text-center italic md:text-xl mx-16 lg:mt-10">
    <li> Lot sizes from 2 - 19 acres (horses allowed)</li>
    <li> Peaceful and tranquil living</li>
    <li> Safe environment where children and grandchildren can run and play</li>
    <li> Enjoy nature at it's best, abundance of wild life</li>
    <li> Beautiful views of valley</li>
    <li> Groomed walking/hiking trail through scenic 1/2 mile ravine</li>
    <li> 2 mile horse riding trail around subdivision</li>
    <li>Planned 4.5 acre playground and park</li>
  </ol>
</div>
